.shiny-slide-rail {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

.shiny-slide-rail ::deep canvas {
    display: block;
    width: 100%;
    height: 100%;
}
